server {
    server_name EXAMPLE.COM;
    access_log  /var/log/nginx/shrtn.access.log;

    location / {
        root /PATH/TO/SHRTN/HTDOCS;
        index index.html;
        try_files $uri.html $uri $uri/ =404;
    }
}

