<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="robots" content="noindex">
<meta http-equiv="Refresh" content="0;URL=<% URL %>">
<link rel="canonical" href="<% URL %>">
<title></title>
</head>
<body>
</body>
</html>
